/* line 1, ../sass/admin-old.scss */
.lift-message { width: 75%; font-weight: normal; text-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px; color: #056d94; font-size: 18px; line-height: 24px; }

/* line 10, ../sass/admin-old.scss */
.lift-balloon { float: right; }

/* line 14, ../sass/admin-old.scss */
#banneralert { margin-bottom: 10px; }
/* line 16, ../sass/admin-old.scss */
#banneralert .clr { clear: both; margin: 0; height: 0; font-size: 0; }

/* line 24, ../sass/admin-old.scss */
.lift-colorized { font-family: arial,sans-serif; padding: 12px; border: 1px #8bcce4 solid; background: #b3e2f3; /* Old browsers */ background: -moz-linear-gradient(top, #b3e2f3 59%, white 94%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(59%, #b3e2f3), color-stop(94%, white)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #b3e2f3 59%, white 94%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #b3e2f3 59%, white 94%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #b3e2f3 59%, white 94%); /* IE10+ */ background: linear-gradient(to bottom, #b3e2f3 59%, #ffffff 94%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3e2f3',endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */ /* radii */ -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

/* line 35, ../sass/admin-old.scss */
.lift-btn { border: 1px #416b05 solid; padding: 8px 46px; text-align: center; width: 200px; background: #c0fb6c; /* Old browsers */ background: -moz-linear-gradient(top, #c0fb6c 0%, #99d93c 2%, #609b0d 98%, #aceb53 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c0fb6c), color-stop(2%, #99d93c), color-stop(98%, #609b0d), color-stop(100%, #aceb53)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #c0fb6c 0%, #99d93c 2%, #609b0d 98%, #aceb53 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #c0fb6c 0%, #99d93c 2%, #609b0d 98%, #aceb53 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #c0fb6c 0%, #99d93c 2%, #609b0d 98%, #aceb53 100%); /* IE10+ */ background: linear-gradient(to bottom, #c0fb6c 0%, #99d93c 2%, #609b0d 98%, #aceb53 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0fb6c',endColorstr='#aceb53',GradientType=0 ); /* IE6-9 */ color: #fff; text-shadow: rgba(0, 0, 0, 0.75) 0px 1px 0px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

/* line 45, ../sass/admin-old.scss */
.lift-btn a { color: #fff; }

/* line 46, ../sass/admin-old.scss */
td.lift-sync { padding-bottom: .5em; }

/* line 50, ../sass/admin-old.scss */
.lift-auto-update-options h4 { margin-top: 0px; margin-bottom: .5em; }

/* line 51, ../sass/admin-old.scss */
#lift-submit-row { width: 315px; }

/* line 54, ../sass/admin-old.scss */
.lift-admin { /****** SETUP PAGE ******/ /****** STATUS PAGE ******/ }
/* line 56, ../sass/admin-old.scss */
.lift-admin .clr { clear: both; margin: 0; height: 0; font-size: 0; }
/* line 62, ../sass/admin-old.scss */
.lift-admin a { text-decoration: none; }
/* line 66, ../sass/admin-old.scss */
.lift-admin p em { background: #d7e5f1; display: inline-block; margin-left: -58px; margin-right: 13px; font-size: 1.5em; line-height: 42px; height: 42px; width: 42px; border-radius: 21px; font-style: normal; text-align: center; color: #464646; }
/* line 81, ../sass/admin-old.scss */
.lift-admin input[attr=disabled] { background: #999; color: #777; }
/* line 86, ../sass/admin-old.scss */
.lift-admin .indent { padding: 15px 2.7472527473%; border-top: 1px solid #d1d1d1; }
/* line 90, ../sass/admin-old.scss */
.lift-admin .lift-light-grey { color: #999; }
/* line 94, ../sass/admin-old.scss */
.lift-admin .header-img, .lift-admin .header-img img { width: 100%; }
/* line 98, ../sass/admin-old.scss */
.lift-admin h2.lift-logo { display: block; background: url(../img/lift-logo.png) no-repeat 0 8px; padding-left: 44px; }
/* line 102, ../sass/admin-old.scss */
.lift-admin h2.lift-logo em { color: #0e5abd; font: italic 0.8125em Georgia, serif; }
/* line 107, ../sass/admin-old.scss */
.lift-admin #update-ajax-loader { position: absolute; margin: 7px 0 0 -20px; }
/* line 112, ../sass/admin-old.scss */
.lift-admin .success-message { color: green; }
/* line 115, ../sass/admin-old.scss */
.lift-admin .error-message { color: red; }
/* line 118, ../sass/admin-old.scss */
.lift-admin .width-70 { width: 70%; }
/* line 120, ../sass/admin-old.scss */
.lift-admin .width-70 input, .lift-admin .width-70 select { margin-bottom: 10px; }
/* line 123, ../sass/admin-old.scss */
.lift-admin .width-70 .misc-pub-section { padding-top: 0; }
/* line 127, ../sass/admin-old.scss */
.lift-admin .width-30 { width: 30%; }
/* line 130, ../sass/admin-old.scss */
.lift-admin .btn { border: 1px solid #bbb; border-radius: 8px; line-height: 18px; padding: 0 10px; font-size: 14px; text-decoration: none; margin-left: 10px; color: #464646; font-family: 'Helvetica Nueue', Helvetica, Arial, sans-serif; }
/* line 145, ../sass/admin-old.scss */
.lift-admin .ordered-list { padding-left: 58px; }
/* line 147, ../sass/admin-old.scss */
.lift-admin .ordered-list p { line-height: 1em; }
/* line 150, ../sass/admin-old.scss */
.lift-admin .ordered-list .form-table th:first-child { padding-left: 0; }
/* line 153, ../sass/admin-old.scss */
.lift-admin .ordered-list .lift-step-3[disabled="disabled"], .lift-admin .ordered-list .lift-step-4[disabled="disabled"] { color: #ccc; cursor: default; }
/* line 162, ../sass/admin-old.scss */
.lift-admin .dashboard { border: 1px solid #d1d1d1; padding-bottom: 15px; }
/* line 166, ../sass/admin-old.scss */
.lift-admin .dashboard #lift-remote-status { padding: 0 8px; }
/* line 170, ../sass/admin-old.scss */
.lift-admin .dashboard .lift-snapshot { width: 100%; border-bottom: 1px solid #e6e6e6; font-size: 16px; border-spacing: 0; }
/* line 175, ../sass/admin-old.scss */
.lift-admin .dashboard .lift-snapshot hr { background: #999; background: rgba(0, 0, 0, 0.2); margin: 12px 0; height: 1px; overflow: hidden; font-size: 0; border: none; }
/* line 184, ../sass/admin-old.scss */
.lift-admin .dashboard .lift-snapshot h3 { margin: 4px 0 16px 0; }
/* line 187, ../sass/admin-old.scss */
.lift-admin .dashboard .lift-snapshot td { background: #f6f6f6; width: 66%; border-left: 1px solid #d1d1d1; padding: 13px 14px 0 14px; vertical-align: top; }
/* line 193, ../sass/admin-old.scss */
.lift-admin .dashboard .lift-snapshot td.status { vertical-align: middle; width: 20%; background: #99cd67; border-bottom: 7px solid #659b31; border-left: none; padding-left: 13px; }
/* line 201, ../sass/admin-old.scss */
.lift-admin .dashboard .lift-snapshot td.edit { vertical-align: middle; text-align: center; width: 14%; background: #f6f6f6 url(../img/status.png) no-repeat 0 -64px; padding: 0 10px; }
/* line 209, ../sass/admin-old.scss */
.lift-admin .dashboard .lift-snapshot td.status h3 { font: bold 1.375em/1.182em "Helvetica Neue", Helvetica, Arial, sans-serif; color: #fff; padding: 0 0 0 47px; text-transform: uppercase; position: relative; margin-bottom: 0; }
/* line 217, ../sass/admin-old.scss */
.lift-admin .dashboard .lift-snapshot td.status h3:after { position: absolute; content: ''; display: block; background: url(../img/status.png) no-repeat; width: 34px; height: 34px; top: -3px; left: 0; }
/* line 229, ../sass/admin-old.scss */
.lift-admin .dashboard .lift-snapshot td.status p { display: none; text-align: left; margin: 0; padding: 0 0 0 49px; font-weight: normal; font-size: .85em; }
/* line 236, ../sass/admin-old.scss */
.lift-admin .dashboard .lift-snapshot td.status p a { font-size: .75em; text-decoration: none; }
/* line 240, ../sass/admin-old.scss */
.lift-admin .dashboard .lift-snapshot td.status p a:hover { text-decoration: underline; }
/* line 245, ../sass/admin-old.scss */
.lift-admin .dashboard .lift-snapshot td.status ul { padding: 0 3px 0 20px; list-style: square; font-size: .85em; }
/* line 253, ../sass/admin-old.scss */
.lift-admin .dashboard .lift-snapshot td.status.caution { background-color: #fac604; border-color: #d3a700; }
/* line 257, ../sass/admin-old.scss */
.lift-admin .dashboard .lift-snapshot td.status.caution p a { color: #7e6400; }
/* line 261, ../sass/admin-old.scss */
.lift-admin .dashboard .lift-snapshot td.status.caution h3:after { background-position: -44px 0; }
/* line 265, ../sass/admin-old.scss */
.lift-admin .dashboard .lift-snapshot td.status.error { background-color: #c10c0c; border-color: #8f0909; }
/* line 269, ../sass/admin-old.scss */
.lift-admin .dashboard .lift-snapshot td.status.error p a { color: #fff; }
/* line 273, ../sass/admin-old.scss */
.lift-admin .dashboard .lift-snapshot td.status.error h3:after { background-position: -93px 0; }
/* line 278, ../sass/admin-old.scss */
.lift-admin .dashboard .lift-snapshot td.status.caution p, .lift-admin .dashboard .lift-snapshot td.status.error p { display: block; }
/* line 285, ../sass/admin-old.scss */
.lift-admin .dashboard .lift-snapshot .status-message { font-weight: bold; }
/* line 289, ../sass/admin-old.scss */
.lift-admin .dashboard .lift-snapshot input.cron-update { width: 5em; text-align: center; }
/* line 294, ../sass/admin-old.scss */
.lift-admin .dashboard .lift-snapshot table.lift-schedule { width: 110%; float: right; }
/* line 297, ../sass/admin-old.scss */
.lift-admin .dashboard .lift-snapshot table.lift-schedule td { padding: 0px; border: none; text-align: right; }
/* line 303, ../sass/admin-old.scss */
.lift-admin .dashboard .lift-snapshot table.lift-schedule td:first-child { width: 10%; text-align: left; }
/* line 309, ../sass/admin-old.scss */
.lift-admin .dashboard .lift-snapshot .lift-index-now { padding-top: .5em; float: right; }
/* line 316, ../sass/admin-old.scss */
.lift-admin .dashboard .misc-pub-section { border: none; font-size: .75em; margin: 0; padding: 7px 0 0 0; }
/* line 323, ../sass/admin-old.scss */
.lift-admin .dashboard .log-table td { text-align: left; }
/* line 327, ../sass/admin-old.scss */
.lift-admin .dashboard #set-cron-status { text-align: center; position: relative; display: block; margin: 0; float: right; width: 110px; height: 30px; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; background: #F6F6F6; -webkit-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out; cursor: pointer; -webkit-box-shadow: inset 1px 1px 10px 1px #999; box-shadow: inset 1px 1px 10px 1px #999; }
/* line 346, ../sass/admin-old.scss */
.lift-admin .dashboard #set-cron-status .slider-button { display: block; width: 60px; height: 30px; line-height: 30px; padding-top: 0; padding-bottom: 0; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; text-align: center; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
/* line 361, ../sass/admin-old.scss */
.lift-admin .dashboard #set-cron-status .on { margin-left: 49px; }
/* line 364, ../sass/admin-old.scss */
.lift-admin .dashboard #set-cron-status.disabled, .lift-admin .dashboard #set-cron-status.disabled span:hover, .lift-admin .dashboard #set-cron-status.disabled span:focus { cursor: default !important; border-color: #bbb; }
/* line 368, ../sass/admin-old.scss */
.lift-admin .dashboard #set-cron-status.disabled .on, .lift-admin .dashboard #set-cron-status.disabled .on:hover { background: gray; border: 1px solid #999; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; border-color: #999; }
