/* line 3, ../sass/style.scss */
.no-js .hide-no-js, .js .hide-js { display: none; }

/* line 5, ../sass/style.scss */
.lift-search-form-filters li.selected { font-weight: bold; }
/* line 6, ../sass/style.scss */
.lift-search-form-filters li.hide-collapsed { display: none; }
/* line 9, ../sass/style.scss */
.lift-search-form-filters .hide-expanded { display: block; }
/* line 11, ../sass/style.scss */
.lift-search-form-filters ul.expanded .hide-collapsed { display: block; }
/* line 12, ../sass/style.scss */
.lift-search-form-filters ul.expanded .hide-expanded { display: none; }
