@import "compass";
.lift-admin {
	@import "vars";
	@import "grid";
	h1,h2 {
		font-weight: normal;
		line-height: 1.2;
		margin-top: 0;
	}
	h2 {
		font-size: 18px;
	}
	.banner {
		@include hide-text;
		height: 130px;
		margin-bottom: $pad;
		background: transparent url($imgLoc+'lift-admin-header.png') no-repeat;
	}
	.progressCircle {
		display: inline-block;
		width: 40px;
		height: 40px;
		text-align: center;
		color: #fff;
		font-weight: bold;
		font-size: 1.5em;
		line-height: 44px;
		background-color: #ccc;
		border-radius: 50%;
		margin: 0 0 0 $pad;
		&.active {
			background-color: $liftBlue;
		}
	}
	.aside {
		background: #f2f2f2;
		padding: $pad/2 $pad;
	}
	ul.instructions {
		list-style: none;
		margin: $pad 0;
		padding: 0;
		li {
			padding: 0 0 0 80px;
			background: transparent none no-repeat left top;
			margin: 0 0 $pad;
		}
		.webServices {
			background-image: url($imgLoc+'blue-box.png');
			min-height: 60px;
		}
		.documentation {
			background-image: url($imgLoc+'documentation.png');
			min-height: 90px;
		}
		.cloudSearch {
			background-image: url($imgLoc+'amazon-cloud-search.png');	
			min-height: 80px;		
		}
		.a-z {
			background-image: url($imgLoc+'a-z.png');
		}
		.numerals {
			background-image: url($imgLoc+'0-9.png');
		}
		.hyphen {
			background-image: url($imgLoc+'hyphen.png');
		}
		.a-z, .numerals, .hyphen {
			min-height: 60px;
		}
	}
	.form-block {
		label { 
			display: block;
		}
		input[type="text"],
		input[type="search"] {
			width: 100%;
		}
	}
	.form-row {
		margin-bottom: $pad;
	}
	.button-row {
		text-align: center;
		margin-top: $pad*2;
	}

}

div.lift_modal {
	display:none;
	z-index: 1000;
	position:fixed;
	top: 0;
	left: 0;
	.modal_overlay {
		position:fixed;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: .5;
		z-index: 1000;
	}
	.modal_wrapper {
		position: fixed;
		top: 25%;
		width: 100%;
		z-index: 1001;
	}
	.modal_content{
		width: 500px;
		position: relative;
		margin: 0 auto;
		background-color: #fff;
	}
}