@import "compass";
$link-color: #2a84cd; // Main Link and Blue color
$link-off: #9a9a9a; // Alternate Link color
$dark-text: #333; // Text and Border colors

@mixin sprite($width, $height, $posT, $posL) {
	display:inline-block;background:url(../img/sprite-icons.png) $posT $posL;width:$width;height:$height;text-indent:-9999px;
}
@mixin after($width, $height, $posT, $posL, $top, $left) {
	content:'';position:absolute;top:$top;left:$left;@include sprite($width,$height,$posT,$posL);
}
#lift-filters {margin-top: 12px; position: relative; z-index: 100;list-style: none;
	li {margin: 0; display: inline-block; vertical-align: middle; position: relative; color: $dark-text; margin-right: 15px;
		a { position: relative; padding-right: 10px; z-index: 1000;
			&.lift-list-toggler.selected { padding-right: 14px;
				&:after{@include after(8px, 4px, -6px, -68px, 9px, 100%); margin-left: -8px;}
			}
		}
		ul {display: none; position: absolute; margin-top: 4px; top: 100%; left: -15px; background: #fff; border: 1px solid $link-off; padding: 10px 0;
			li {display: block; white-space: nowrap; margin: 0; position: relative; color: $dark-text; font-size: .75em; display: block; padding: 5px 15px;
				&:hover {background: lighten($dark-text, 70%); text-decoration: none;}
				&.selected:before {content: '\2713'; position: absolute; left: 3px; top: 4px; font-weight: bold;}
			}
		}
		&.clicked {
			a {color: $dark-text;}
			ul {display: block;}
		}
		&.lift-list-toggler { 
			a:after {@include after(8px, 4px, -6px, -68px, 8px, 100%); margin-left: -4px; }
			a.selected { font-weight: bold; }
			li a {
				&:hover {text-decoration: none;}
				&:after {background: none;}
			}
		}
		&.first { margin-right: 15px; }
		&.last { margin-right: 0; }
	}
	hr {background: #999; background: rgba(0,0,0,.2); margin: 12px 0; height: 1px; overflow: hidden; font-size: 0; border: none;}
}
.lift-search {
	a {color: #2a84cd;}
	.lift-filter-list {border-top: 1px solid $dark-text; margin-top: 8px; padding: 7px 0;
		h2 {font-size: 1.0625em; }
		hr {background: lighten($dark-text, 40%); height: 1px; border: none; position: relative; margin-bottom: 0;
			&:before {@include after(100%, 1px, 0, 0, 0, 0); background: lighten($dark-text, 40%); top: -2px}
			&:after {@extend :before; top: 2px;}
		}
	}
	.lift-template-switcher {margin-top: -15px;
		a {padding-right: 10px !important;
			&.list-view {padding: 0; width: 15px; height: 15px; position: relative; text-indent: -9999px; display: block; 
				&:before {content: ''; display: block; position: absolute; width: 15px; height: 2px; border-top: 2px solid $link-off; border-bottom: 2px solid $link-off; top: 0; left: 0;}
				&:after {@extend :before; bottom: 1px; top: auto;}
				&.active {
					&:before, &:after {border-color: $link-color;}
				}
			}
			&.grid-view {padding: 0; width: 15px; height: 15px; position: relative; text-indent: -9999px; display: block; 
				&:before {content: ''; display: block; position: absolute; width: 1px; height: 7px; border-left: 7px solid $link-off; border-right: 7px solid $link-off; top: 0; left: 0;}
				&:after {@extend :before; bottom: 0; top: auto;}
			}
		}
	}
	.search-results {}
	.search-result {border-bottom: 1px solid #ccc; padding: 16px 20px 16px 0;
		h2 {color: #2a84cd; font: bold 1.375em/1em; margin-bottom: 15px;}
		p {font: .75em/1.5em; padding-bottom: 12px; color: #333;
			&.search-date {color: #73777a;}
		}
		.search-thumb {float: left; margin: 0 8px 10px 0;
			i {@include after(12px, 11px, 0, 0, 86%, 90%);}
		}
	}
	.search-paging {text-align: center; margin: 0 auto; padding-top: 30px;
		a {display: inline-block; margin: 0 4px; font: .875em; font-weight: bold; line-height: 26px;
			&.prev {text-indent: -9999px; border: 1px solid #075391; @include border-radius(3px); background: #2983cc; @include background-image(linear-gradient(#2983cc, #196bae)); width: 24px; height: 24px; position: relative;
				&:after {@include after(7px, 14px, 0, -11px, 5px, 8px)}
				&:hover {background: #196bae;}
			}
			&.next {@extend .prev;
				&:after {background-position: 1px -26px;}
			}
		}
		span {@extend a; color: #999;}
	}
	.clr {clear: both; margin: 0; height: 0; font-size: 0;}
	.lift-hidden {display: none; }
}