@import "compass";

.no-js .hide-no-js, .js .hide-js {display: none;}
.lift-search-form-filters {
	li.selected { font-weight: bold; }
	li.hide-collapsed {
		display: none;
	}
	.hide-expanded { display: block; }
	ul.expanded {
		.hide-collapsed {display: block;}
		.hide-expanded { display: none; }
	}

}